@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: hotpink;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo__header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.logo__header img {
  max-width: 50px;
}

.contact__us {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.contact__us p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  color: var(--text-dark);
  cursor: pointer;
}

.contact__us i {
  font-size: 1rem;
}

nav {
  background-color: var(--primary-color);
}

.nav__links {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}



.nav__links i {
  font-size: 1.5rem;
}

.p{
  margin-left: 20px;

}

footer {
  background-color: lightgrey;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;

}

.footer__col img {
  max-width: 150px;
  margin-bottom: 2rem;
}

.footer__col i {
  font-size: 1rem;
  margin-right: 1rem;
}

.footer__col h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__col p {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  transition: 0.3s;
  cursor: pointer;
}


.footer__bar {
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
  color: var(--white);
  background-color: var(--primary-color);
}

@media (width < 900px) {
  .banner__1__container {
    gap: 3rem;
  }

  .arrivals__grid,
  .blog__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .seller__grid,
  .product__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .product__image:nth-child(1) {
    grid-area: unset;
  }

  .product__image:nth-child(2) {
    grid-area: 1/1/2/4;
  }
}

@media (width < 600px) {
  .banner__2__container h2 {
    font-size: 4rem;
  }

  .seller__grid,
  .product__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product__image:nth-child(2) {
    grid-area: unset;
  }

  .blog__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
